In [1]:
import yfinance as yf

In [21]:
each_symbol = input()
df = yf.Ticker(f'{each_symbol}.NS').history("5y")

 SBIN

In [3]:
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-12-08 00:00:00+05:30,598.126856,602.099642,595.576441,599.990662,10020015,0.0,0.0
2022-12-09 00:00:00+05:30,602.688284,606.219637,597.489265,604.748230,11202267,0.0,0.0
2022-12-12 00:00:00+05:30,603.080594,606.906276,599.353042,601.363953,9285187,0.0,0.0
2022-12-13 00:00:00+05:30,601.805421,605.631103,600.824483,604.993469,7455415,0.0,0.0
2022-12-14 00:00:00+05:30,606.710095,614.802833,605.729157,613.576660,14010673,0.0,0.0

In [15]:
import pandas_ta as ta
def append_sma(df,**kwargs):
  """
  Calculates and appends the Simple Moving Average (SMA) to a DataFrame.

  Args:
      df: The DataFrame where the SMA will be calculated.
      column: Name of the column to use for calculating the SMA (default: "Close").
      length: Number of periods for the SMA calculation (default: 20).
      offset: Number of periods to shift the SMA forward (positive) or backward (negative) (default: 0).
      suffix: Suffix to add to the new SMA column name (default: "_SMA").
      inplace: Whether to modify the original DataFrame or return a new one (default: False).

  Returns:
      A DataFrame with the SMA appended as a new column.

  Raises:
      ValueError: If an invalid offset is provided.
  """

  column = kwargs.get("column", "close")
  length = kwargs.get("length", 50)
  offset = kwargs.get("offset", 0)

  if offset < 0:
      raise ValueError("Offset for SMA cannot be negative.")

  df.ta.sma(close=column, length=length, offset=offset,append=True)

  return df

def evaluate_sma(df, resultlist, **kwargs):
  """
  Evaluates the conditions and appends the DataFrame's symbol_id to a list of DataFrames if they meet the conditions.

  Args:
      df: The DataFrame to be evaluated.
      resultlist: A list of DataFrames where the symbol_id will be appended if the conditions are met.
      kwargs: A dictionary containing the following keys:
          - direction: "increasing" or "decreasing"
          - condition: "minimum", "maximum", or "exact"
          - bars: Number of bars to consider for the condition
          - additional_kwargs: Any additional keyword arguments passed to the function

  Returns:
      A list of DataFrames with the symbol_id appended if the conditions were met.
  """
  # Extract the conditions from kwargs
  conditions = {
      "direction": kwargs.get("direction"),
      "condition": kwargs.get("condition"),
      "bars": kwargs.get("bars"),
  }

# Check if the expected SMA column already exists
  sma_name = kwargs.get("name", "SMA") + "_" + str(kwargs.get("length"))
  if sma_name not in df.columns:
      raise ValueError(f"SMA column '{sma_name}' not found in the DataFrame.")

  # Use the existing SMA column for evaluation
  df['SMA'] = df[sma_name]

  # Check the direction
  if conditions['direction'] == "increasing":
      trend = df['SMA'] > df['SMA'].shift(1)
  else:
      trend = df['SMA'] < df['SMA'].shift(1)


  if conditions['condition'] == "minimum":
      minimum = df['SMA'].rolling(window=conditions['bars']).min()
      condition = df['SMA'] == minimum
  elif conditions['condition'] == "maximum":
      maximum = df['SMA'].rolling(window=conditions['bars']).max()
      condition = df['SMA'] == maximum
  else:
      # Check if SMA is increasing for exactly 5 bars
      condition = trend.iloc[-int(conditions['bars']):] # type: ignore

  # Check if the conditions are met
  if condition.iloc[-1]:
      print("TRUE")
      resultlist.add(df["symbol_id"][0])
  return resultlist

In [5]:
indicators = {
            "name":"SMA",
            "column": "close",
            "length": 44,
            "offset": 0,
            "direction":"increasing",
            "condition":"minimum",
            "bars":3
        }

In [6]:
properties = {}
for indicator_name, properties in indicators.items():
    print(f"Indicator Name: {indicator_name}")
    for key, value in properties.items():
        print(f"\t- {key}: {value}")

Indicator Name: name

AttributeError: 'str' object has no attribute 'items'

In [22]:
append_sma(df,**indicators)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,SMA_44
Date,,,,,,,,
2018-12-10 00:00:00+05:30,259.354794,264.522743,258.541313,262.417297,11947887,0.0,0.0,NaN
2018-12-11 00:00:00+05:30,256.818643,271.078364,256.818643,269.164307,30927239,0.0,0.0,NaN
2018-12-12 00:00:00+05:30,271.556889,273.566655,270.073506,272.992432,21765939,0.0,0.0,NaN
2018-12-13 00:00:00+05:30,277.538297,281.366411,273.470925,276.581268,24097152,0.0,0.0,NaN
2018-12-14 00:00:00+05:30,276.102773,278.303928,274.715070,276.772705,12156361,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...
2023-12-04 00:00:00+05:30,588.000000,596.000000,584.549988,594.700012,26077882,0.0,0.0,574.770456
2023-12-05 00:00:00+05:30,595.049988,611.299988,595.049988,608.250000,36430152,0.0,0.0,575.186365
2023-12-06 00:00:00+05:30,614.000000,614.000000,604.549988,608.450012,21439069,0.0,0.0,575.411366
2023-12-07 00:00:00+05:30,610.000000,612.549988,605.000000,611.700012,10725706,0.0,0.0,575.610229
2023-12-08 00:00:00+05:30,610.000000,616.799988,605.349976,614.150024,17722136,0.0,0.0,576.244321

In [23]:
result = set()
ss = evaluate_sma(df,result,**indicators)

In [24]:
df.tail(50)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,SMA_44,SMA
Date,,,,,,,,,
2023-09-26 00:00:00+05:30,594.000000,595.000000,591.250000,594.400024,8327427,0.0,0.0,584.759091,584.759091
2023-09-27 00:00:00+05:30,593.450012,594.299988,588.200012,589.750000,9865347,0.0,0.0,584.307956,584.307956
2023-09-28 00:00:00+05:30,591.250000,595.200012,588.849976,589.950012,21960816,0.0,0.0,583.735228,583.735228
2023-09-29 00:00:00+05:30,592.849976,600.000000,591.299988,598.549988,12189735,0.0,0.0,583.326137,583.326137
2023-10-03 00:00:00+05:30,596.599976,604.900024,589.599976,602.950012,15322196,0.0,0.0,583.028410,583.028410
2023-10-04 00:00:00+05:30,600.000000,600.450012,584.450012,586.250000,24914612,0.0,0.0,582.256819,582.256819
2023-10-05 00:00:00+05:30,590.000000,594.349976,587.099976,592.150024,13248028,0.0,0.0,581.809093,581.809093
2023-10-06 00:00:00+05:30,593.400024,598.950012,592.200012,594.250000,8216780,0.0,0.0,581.713638,581.713638
2023-10-09 00:00:00+05:30,588.000000,589.000000,581.549988,585.099976,9189597,0.0,0.0,581.590910,581.590910
2023-10-10 00:00:00+05:30,587.000000,595.000000,585.750000,591.650024,10373508,0.0,0.0,582.007957,582.007957
2023-10-11 00:00:00+05:30,596.900024,597.000000,587.599976,588.349976,14220119,0.0,0.0,582.472728,582.472728
2023-10-12 00:00:00+05:30,590.799988,593.000000,585.000000,586.049988,11983797,0.0,0.0,582.767047,582.767047
2023-10-13 00:00:00+05:30,577.750000,581.299988,574.799988,576.150024,19064577,0.0,0.0,582.821593,582.821593
2023-10-16 00:00:00+05:30,576.000000,578.750000,571.500000,575.650024,11290293,0.0,0.0,582.867047,582.867047
2023-10-17 00:00:00+05:30,577.700012,579.950012,575.299988,576.450012,10765224,0.0,0.0,582.919320,582.919320
2023-10-18 00:00:00+05:30,577.750000,579.250000,569.349976,572.650024,11777454,0.0,0.0,583.188639,583.188639
2023-10-19 00:00:00+05:30,569.799988,574.000000,567.000000,571.200012,11441499,0.0,0.0,583.321594,583.321594
2023-10-20 00:00:00+05:30,569.900024,570.000000,562.099976,563.099976,11110988,0.0,0.0,583.115911,583.115911
2023-10-23 00:00:00+05:30,563.099976,566.000000,551.000000,552.950012,11875035,0.0,0.0,582.661366,582.661366
2023-10-25 00:00:00+05:30,558.599976,560.799988,553.599976,556.200012,12134624,0.0,0.0,582.309093,582.309093
2023-10-26 00:00:00+05:30,551.450012,552.900024,543.200012,547.000000,19424825,0.0,0.0,581.820457,581.820457
2023-10-27 00:00:00+05:30,550.000000,562.500000,550.000000,561.150024,10415296,0.0,0.0,581.462502,581.462502
2023-10-30 00:00:00+05:30,563.000000,566.700012,556.500000,565.200012,8593704,0.0,0.0,581.195457,581.195457
2023-10-31 00:00:00+05:30,567.000000,569.500000,563.150024,565.549988,13039696,0.0,0.0,581.095456,581.095456
2023-11-01 00:00:00+05:30,566.250000,569.650024,563.849976,566.400024,13575575,0.0,0.0,580.948866,580.948866
2023-11-02 00:00:00+05:30,571.099976,575.450012,567.599976,572.099976,11148516,0.0,0.0,580.886366,580.886366
2023-11-03 00:00:00+05:30,576.000000,579.500000,573.450012,578.150024,11371371,0.0,0.0,581.130685,581.130685
2023-11-06 00:00:00+05:30,582.000000,582.500000,573.250000,574.349976,16499138,0.0,0.0,581.426139,581.426139
2023-11-07 00:00:00+05:30,574.799988,581.200012,572.599976,579.750000,17923281,0.0,0.0,581.657958,581.657958
2023-11-08 00:00:00+05:30,581.900024,582.599976,579.000000,580.299988,15434808,0.0,0.0,581.765912,581.765912
2023-11-09 00:00:00+05:30,581.000000,581.849976,576.500000,578.349976,12434363,0.0,0.0,581.887502,581.887502
2023-11-10 00:00:00+05:30,577.799988,581.000000,575.400024,579.500000,6773038,0.0,0.0,582.092048,582.092048
2023-11-13 00:00:00+05:30,581.000000,582.500000,575.200012,581.349976,11282362,0.0,0.0,582.144320,582.144320
2023-11-15 00:00:00+05:30,587.250000,588.000000,582.599976,584.700012,11397676,0.0,0.0,582.172729,582.172729
2023-11-16 00:00:00+05:30,584.700012,588.000000,582.900024,584.650024,8622660,0.0,0.0,582.012502,582.012502
2023-11-17 00:00:00+05:30,574.500000,574.500000,562.099976,563.049988,37173221,0.0,0.0,581.437503,581.437503
2023-11-20 00:00:00+05:30,564.000000,566.799988,560.599976,563.750000,12714585,0.0,0.0,580.694321,580.694321
2023-11-21 00:00:00+05:30,566.000000,566.650024,561.000000,561.500000,14280013,0.0,0.0,579.880685,579.880685
2023-11-22 00:00:00+05:30,562.950012,564.500000,555.150024,558.950012,14909071,0.0,0.0,578.975003,578.975003
2023-11-23 00:00:00+05:30,561.750000,563.500000,558.299988,559.950012,6376210,0.0,0.0,577.975003,577.975003
2023-11-24 00:00:00+05:30,561.950012,562.450012,559.250000,560.349976,6529851,0.0,0.0,577.048867,577.048867
2023-11-28 00:00:00+05:30,563.599976,565.200012,561.099976,564.450012,8153314,0.0,0.0,576.510230,576.510230
2023-11-29 00:00:00+05:30,568.000000,569.000000,565.099976,568.599976,10299034,0.0,0.0,575.838638,575.838638
2023-11-30 00:00:00+05:30,569.750000,570.200012,563.650024,564.750000,19758998,0.0,0.0,575.172729,575.172729
2023-12-01 00:00:00+05:30,567.000000,574.200012,566.549988,571.750000,10614230,0.0,0.0,574.657956,574.657956
2023-12-04 00:00:00+05:30,588.000000,596.000000,584.549988,594.700012,26077882,0.0,0.0,574.770456,574.770456
2023-12-05 00:00:00+05:30,595.049988,611.299988,595.049988,608.250000,36430152,0.0,0.0,575.186365,575.186365
2023-12-06 00:00:00+05:30,614.000000,614.000000,604.549988,608.450012,21439069,0.0,0.0,575.411366,575.411366
2023-12-07 00:00:00+05:30,610.000000,612.549988,605.000000,611.700012,10725706,0.0,0.0,575.610229,575.610229
2023-12-08 00:00:00+05:30,610.000000,616.799988,605.349976,614.150024,17722136,0.0,0.0,576.244321,576.244321

In [25]:
print(ss)

set()