In [2]:
import yfinance as yf

In [25]:
each_symbol = input()
df = yf.Ticker(f'{each_symbol}.NS').history("1y")

 SBIN

In [26]:
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-12-06 00:00:00+05:30,603.031591,607.985316,596.214061,597.342163,12996244,0.0,0.0
2022-12-07 00:00:00+05:30,599.205885,601.216855,592.976953,595.478333,7613892,0.0,0.0
2022-12-08 00:00:00+05:30,598.126856,602.099642,595.576441,599.990662,10020015,0.0,0.0
2022-12-09 00:00:00+05:30,602.688284,606.219637,597.489265,604.748230,11202267,0.0,0.0
2022-12-12 00:00:00+05:30,603.080594,606.906276,599.353042,601.363953,9285187,0.0,0.0

In [5]:
import pandas as pd
import pandas_ta as ta

# df = pd.DataFrame() # Empty DataFrame

# Load data
# df = pd.read_csv("path/to/symbol.csv", sep=",")
# OR if you have yfinance installed
# df = df.ta.ticker("aapl")

# VWAP requires the DataFrame index to be a DatetimeIndex.
# Replace "datetime" with the appropriate column from your DataFrame
# df.set_index(pd.DatetimeIndex(df['Date']), inplace=True)

# Calculate Returns and append to the df DataFrame
df.ta.log_return(cumulative=True, append=True)
df.ta.percent_return(cumulative=True, append=True)
column_name = 'Close'  # Replace with your column name

# Calculate 44-period SMA
df['sma_44'] = ta.sma(df[column_name], length=44)
df['sma_44_rising'] = df['sma_44'] > df['sma_44'].shift(1)

# Display the DataFrame with SMA values


# New Columns with results
df.columns
df.tail(50)
# Take a peek
# df.tail()

# vv Continue Post Processing vv

,Open,High,Low,Close,Volume,Dividends,Stock Splits,CUMLOGRET_1,CUMPCTRET_1,sma_44,sma_44_rising
Date,,,,,,,,,,,
2023-09-22 00:00:00+05:30,593.500000,602.000000,591.400024,598.150024,18784139,0.0,0.0,0.001352,0.001352,585.765909,False
2023-09-25 00:00:00+05:30,601.500000,601.500000,590.450012,594.049988,9712784,0.0,0.0,-0.005527,-0.005511,585.287501,False
2023-09-26 00:00:00+05:30,594.000000,595.000000,591.250000,594.400024,8327427,0.0,0.0,-0.004938,-0.004925,584.759091,False
2023-09-27 00:00:00+05:30,593.450012,594.299988,588.200012,589.750000,9865347,0.0,0.0,-0.012791,-0.012710,584.307956,False
2023-09-28 00:00:00+05:30,591.250000,595.200012,588.849976,589.950012,21960816,0.0,0.0,-0.012452,-0.012375,583.735228,False
2023-09-29 00:00:00+05:30,592.849976,600.000000,591.299988,598.549988,12189735,0.0,0.0,0.002020,0.002022,583.326137,False
2023-10-03 00:00:00+05:30,596.599976,604.900024,589.599976,602.950012,15322196,0.0,0.0,0.009344,0.009388,583.028410,False
2023-10-04 00:00:00+05:30,600.000000,600.450012,584.450012,586.250000,24914612,0.0,0.0,-0.018744,-0.018569,582.256819,False
2023-10-05 00:00:00+05:30,590.000000,594.349976,587.099976,592.150024,13248028,0.0,0.0,-0.008730,-0.008692,581.809093,False
2023-10-06 00:00:00+05:30,593.400024,598.950012,592.200012,594.250000,8216780,0.0,0.0,-0.005190,-0.005177,581.713638,False
2023-10-09 00:00:00+05:30,588.000000,589.000000,581.549988,585.099976,9189597,0.0,0.0,-0.020707,-0.020494,581.590910,False
2023-10-10 00:00:00+05:30,587.000000,595.000000,585.750000,591.650024,10373508,0.0,0.0,-0.009575,-0.009529,582.007957,True
2023-10-11 00:00:00+05:30,596.900024,597.000000,587.599976,588.349976,14220119,0.0,0.0,-0.015168,-0.015054,582.472728,True
2023-10-12 00:00:00+05:30,590.799988,593.000000,585.000000,586.049988,11983797,0.0,0.0,-0.019085,-0.018904,582.767047,True
2023-10-13 00:00:00+05:30,577.750000,581.299988,574.799988,576.150024,19064577,0.0,0.0,-0.036122,-0.035477,582.821593,True
2023-10-16 00:00:00+05:30,576.000000,578.750000,571.500000,575.650024,11290293,0.0,0.0,-0.036990,-0.036314,582.867047,True
2023-10-17 00:00:00+05:30,577.700012,579.950012,575.299988,576.450012,10765224,0.0,0.0,-0.035601,-0.034975,582.919320,True
2023-10-18 00:00:00+05:30,577.750000,579.250000,569.349976,572.650024,11777454,0.0,0.0,-0.042215,-0.041337,583.188639,True
2023-10-19 00:00:00+05:30,569.799988,574.000000,567.000000,571.200012,11441499,0.0,0.0,-0.044751,-0.043764,583.321594,True
2023-10-20 00:00:00+05:30,569.900024,570.000000,562.099976,563.099976,11110988,0.0,0.0,-0.059033,-0.057324,583.115911,False
2023-10-23 00:00:00+05:30,563.099976,566.000000,551.000000,552.950012,11875035,0.0,0.0,-0.077222,-0.074316,582.661366,False
2023-10-25 00:00:00+05:30,558.599976,560.799988,553.599976,556.200012,12134624,0.0,0.0,-0.071362,-0.068875,582.309093,False
2023-10-26 00:00:00+05:30,551.450012,552.900024,543.200012,547.000000,19424825,0.0,0.0,-0.088041,-0.084277,581.820457,False
2023-10-27 00:00:00+05:30,550.000000,562.500000,550.000000,561.150024,10415296,0.0,0.0,-0.062502,-0.060589,581.462502,False
2023-10-30 00:00:00+05:30,563.000000,566.700012,556.500000,565.200012,8593704,0.0,0.0,-0.055310,-0.053809,581.195457,False
2023-10-31 00:00:00+05:30,567.000000,569.500000,563.150024,565.549988,13039696,0.0,0.0,-0.054691,-0.053223,581.095456,False
2023-11-01 00:00:00+05:30,566.250000,569.650024,563.849976,566.400024,13575575,0.0,0.0,-0.053190,-0.051800,580.948866,False
2023-11-02 00:00:00+05:30,571.099976,575.450012,567.599976,572.099976,11148516,0.0,0.0,-0.043176,-0.042258,580.886366,False
2023-11-03 00:00:00+05:30,576.000000,579.500000,573.450012,578.150024,11371371,0.0,0.0,-0.032657,-0.032129,581.130685,True
2023-11-06 00:00:00+05:30,582.000000,582.500000,573.250000,574.349976,16499138,0.0,0.0,-0.039251,-0.038491,581.426139,True
2023-11-07 00:00:00+05:30,574.799988,581.200012,572.599976,579.750000,17923281,0.0,0.0,-0.029893,-0.029451,581.657958,True
2023-11-08 00:00:00+05:30,581.900024,582.599976,579.000000,580.299988,15434808,0.0,0.0,-0.028945,-0.028530,581.765912,True
2023-11-09 00:00:00+05:30,581.000000,581.849976,576.500000,578.349976,12434363,0.0,0.0,-0.032311,-0.031794,581.887502,True
2023-11-10 00:00:00+05:30,577.799988,581.000000,575.400024,579.500000,6773038,0.0,0.0,-0.030324,-0.029869,582.092048,True
2023-11-13 00:00:00+05:30,581.000000,582.500000,575.200012,581.349976,11282362,0.0,0.0,-0.027137,-0.026772,582.144320,True
2023-11-15 00:00:00+05:30,587.250000,588.000000,582.599976,584.700012,11397676,0.0,0.0,-0.021391,-0.021164,582.172729,True
2023-11-16 00:00:00+05:30,584.700012,588.000000,582.900024,584.650024,8622660,0.0,0.0,-0.021477,-0.021248,582.012502,False
2023-11-17 00:00:00+05:30,574.500000,574.500000,562.099976,563.049988,37173221,0.0,0.0,-0.059122,-0.057408,581.437503,False
2023-11-20 00:00:00+05:30,564.000000,566.799988,560.599976,563.750000,12714585,0.0,0.0,-0.057879,-0.056236,580.694321,False
2023-11-21 00:00:00+05:30,566.000000,566.650024,561.000000,561.500000,14280013,0.0,0.0,-0.061878,-0.060003,579.880685,False
2023-11-22 00:00:00+05:30,562.950012,564.500000,555.150024,558.950012,14909071,0.0,0.0,-0.066430,-0.064272,578.975003,False
2023-11-23 00:00:00+05:30,561.750000,563.500000,558.299988,559.950012,6376210,0.0,0.0,-0.064643,-0.062598,577.975003,False
2023-11-24 00:00:00+05:30,561.950012,562.450012,559.250000,560.349976,6529851,0.0,0.0,-0.063929,-0.061928,577.048867,False
2023-11-28 00:00:00+05:30,563.599976,565.200012,561.099976,564.450012,8153314,0.0,0.0,-0.056638,-0.055064,576.510230,False
2023-11-29 00:00:00+05:30,568.000000,569.000000,565.099976,568.599976,10299034,0.0,0.0,-0.049313,-0.048117,575.838638,False
2023-11-30 00:00:00+05:30,569.750000,570.200012,563.650024,564.750000,19758998,0.0,0.0,-0.056107,-0.054562,575.172729,False
2023-12-01 00:00:00+05:30,567.000000,574.200012,566.549988,571.750000,10614230,0.0,0.0,-0.043788,-0.042843,574.657956,False
2023-12-04 00:00:00+05:30,588.000000,596.000000,584.549988,594.700012,26077882,0.0,0.0,-0.004433,-0.004423,574.770456,True
2023-12-05 00:00:00+05:30,595.049988,611.299988,595.049988,608.250000,36430152,0.0,0.0,0.018096,0.018261,575.186365,True
2023-12-06 00:00:00+05:30,614.000000,614.000000,609.000000,611.250000,10153910,0.0,0.0,0.023016,0.023283,575.475002,True

In [18]:
import pandas as pd
import pandas_ta as ta

# Create a DataFrame so 'ta' can be used.
# df = pd.DataFrame()

# Help about this, 'ta', extension
# help(df.ta)

# List of all indicators
# df.ta.indicators()

# Help about an indicator such as bbands
help(ta.bbands)

Help on function bbands in module pandas_ta.volatility.bbands:

bbands(close, length=None, std=None, ddof=0, mamode=None, talib=None, offset=None, **kwargs)
    Bollinger Bands (BBANDS)

    A popular volatility indicator by John Bollinger.

    Sources:
        https://www.tradingview.com/wiki/Bollinger_Bands_(BB)

    Calculation:
        Default Inputs:
            length=5, std=2, mamode="sma", ddof=0
        EMA = Exponential Moving Average
        SMA = Simple Moving Average
        STDEV = Standard Deviation
        stdev = STDEV(close, length, ddof)
        if "ema":
            MID = EMA(close, length)
        else:
            MID = SMA(close, length)

        LOWER = MID - std * stdev
        UPPER = MID + std * stdev

        BANDWIDTH = 100 * (UPPER - LOWER) / MID
        PERCENT = (close - LOWER) / (UPPER - LOWER)

    Args:
        close (pd.Series): Series of 'close's
        length (int): The short period. Default: 5
        std (int): The long period. Default: 2
        ddof (int): Degrees of Freedom to use. Default: 0
        mamode (str): See ```help(ta.ma)```. Default: 'sma'
        talib (bool): If TA Lib is installed and talib is True, Returns the TA Lib
            version. Default: True
        offset (int): How many periods to offset the result. Default: 0

    Kwargs:
        fillna (value, optional): pd.DataFrame.fillna(value)
        fill_method (value, optional): Type of fill method

    Returns:
        pd.DataFrame: lower, mid, upper, bandwidth, and percent columns.

In [41]:
import pandas_ta as ta


def append_obv(df, column="Close", volume_column="Volume", offset=0, suffix="_OBV", inplace=True):

    """
    Calculates and appends the On-Balance Volume (OBV) to a DataFrame.

    Args:
        df (pandas.DataFrame): The DataFrame where the OBV will be calculated.
        column (str): Name of the column to use for the volume direction (default: "Close").
        volume_column (str): Name of the volume column (default: "Volume").
        offset (int): Number of periods to shift the OBV forward (positive) or backward (negative) (default: 0).
        suffix (str): Suffix to add to the new OBV column name (default: "_OBV").
        inplace (bool): Whether to modify the original DataFrame or return a new one (default: True).

    Returns:
        pandas.DataFrame: The DataFrame with the OBV appended as a new column (in-place modification).
    """

    if not inplace:
        raise ValueError("The `append_obv` function only supports in-place modification (inplace=True).")

    # Calculate the OBV and append it to the DataFrame
    df.ta.obv(close=column, volume=volume_column, offset=offset,append=True)

def append_mfi(df, column="Close", high="High", low="Low", volume="Volume", length=14, offset=0, suffix="_MFI", inplace=True):

    """
    Calculates and appends the Money Flow Index (MFI) to a DataFrame.

    Args:
        df (pandas.DataFrame): The DataFrame where the MFI will be calculated.
        column (str): Name of the column to use for closing prices (default: "Close").
        high (str): Name of the column to use for high prices (default: "High").
        low (str): Name of the column to use for low prices (default: "Low").
        volume (str): Name of the column to use for volume data (default: "Volume").
        length (int): Number of periods for the MFI calculation (default: 14).
        offset (int): Number of periods to shift the MFI forward (positive) or backward (negative) (default: 0).
        suffix (str): Suffix to add to the new MFI column name (default: "_MFI").
        inplace (bool): Whether to modify the original DataFrame or return a new one (default: True).

    Returns:
        pandas.DataFrame: The DataFrame with the MFI appended as a new column (in-place modification).
    """

    if not inplace:
        raise ValueError("The `append_mfi` function only supports in-place modification (inplace=True).")

    # Calculate the MFI and append it to the DataFrame
    df.ta.mfi(high=high, low=low, close=column, volume=volume, length=length, offset=offset,append=True)
    

    return df

def append_ad(df, column="Close", high="High", low="Low", volume="Volume", offset=0, suffix="_AD", inplace=True):

    """
    Calculates and appends the Accumulation/Distribution Indicator (A/D) to a DataFrame.

    Args:
        df (pandas.DataFrame): The DataFrame where the A/D will be calculated.
        column (str): Name of the column to use for closing prices (default: "Close").
        high (str): Name of the column to use for high prices (default: "High").
        low (str): Name of the column to use for low prices (default: "Low").
        volume (str): Name of the column to use for volume data (default: "Volume").
        offset (int): Number of periods to shift the A/D forward (positive) or backward (negative) (default: 0).
        suffix (str): Suffix to add to the new A/D column name (default: "_AD").
        inplace (bool): Whether to modify the original DataFrame or return a new one (default: True).

    Returns:
        pandas.DataFrame: The DataFrame with the A/D appended as a new column (in-place modification).
    """

    if not inplace:
        raise ValueError("The `append_ad` function only supports in-place modification (inplace=True).")

    # Calculate the A/D and append it to the DataFrame
    df.ta.ad(high=high, low=low, close=column, volume=volume, offset=offset,append=True)

    return df


import pandas_ta as ta

def append_atr(df, column="Close", high="High", low="Low", length=14, offset=0, suffix="_ATR", inplace=True):

    """
    Calculates and appends the Average True Range (ATR) to a DataFrame.

    Args:
        df (pandas.DataFrame): The DataFrame where the ATR will be calculated.
        column (str): Name of the column to use for closing prices (default: "Close").
        high (str): Name of the column to use for high prices (default: "High").
        low (str): Name of the column to use for low prices (default: "Low").
        length (int): Number of periods for the ATR calculation (default: 14).
        offset (int): Number of periods to shift the ATR forward (positive) or backward (negative) (default: 0).
        suffix (str): Suffix to add to the new ATR column name (default: "_ATR").
        inplace (bool): Whether to modify the original DataFrame or return a new one (default: True).

    Returns:
        pandas.DataFrame: The DataFrame with the ATR appended as a new column (in-place modification).
    """

    if not inplace:
        raise ValueError("The `append_atr` function only supports in-place modification (inplace=True).")

    # Calculate the ATR and append it to the DataFrame
    df.ta.atr(high=high, low=low, close=column, length=length, offset=offset,append=True)

    return df

import pandas_ta as ta

def append_donchian_channel(df, column="Close", period=20, offset=0, suffix="_DC", inplace=True):

    """
    Calculates and appends the Donchian Channel (upper and lower bands) to a DataFrame.

    Args:
        df (pandas.DataFrame): The DataFrame where the Donchian Channel will be calculated.
        column (str): Name of the column to use for calculating the Donchian Channel (default: "Close").
        period (int): Number of periods for the Donchian Channel calculation (default: 20).
        offset (int): Number of periods to shift the Donchian Channel forward (positive) or backward (negative) (default: 0).
        suffix (str): Suffix to add to the new Donchian Channel column names (default: "_DC").
        inplace (bool): Whether to modify the original DataFrame or return a new one (default: True).

    Returns:
        pandas.DataFrame: The DataFrame with the Donchian Channel upper and lower bands appended as new columns (in-place modification).
    """

    if not inplace:
        raise ValueError("The `append_donchian_channel` function only supports in-place modification (inplace=True).")

    # # Calculate the Upper and Lower Donchian bands
    # upper_band = df.ta.donchian_channel(
    #     high=column, close=column, low=column, period=period, offset=offset
    # )["donchian_channel_upperband"]
    # lower_band = df.ta.donchian_channel(
    #     high=column, close=column, low=column, period=period, offset=offset
    # )["donchian_channel_lowerband"]

    # # Add the Upper and Lower Donchian bands as new columns to the DataFrame
    # df[f"{column}{suffix}_upper"] = upper_band
    # df[f"{column}{suffix}_lower"] = lower_band

    # return df
    df.ta.donchian(high=column, close=column, low=column, period=period, offset=offset,append=True)


import pandas_ta as ta

def append_keltner_channel(df, column="Close", period=14, multiplier=2.0, offset=0, suffix="_KC", inplace=True):

    """
    Calculates and appends the Keltner Channel (KC) upper and lower bands to a DataFrame.

    Args:
        df (pandas.DataFrame): The DataFrame where the Keltner Channel will be calculated.
        column (str): Name of the column to use for calculating the Keltner Channel (default: "Close").
        period (int): Number of periods for the Keltner Channel calculation (default: 14).
        multiplier (float): Multiplier for the Average True Range (ATR) to determine the channel width (default: 2.0).
        offset (int): Number of periods to shift the Keltner Channel forward (positive) or backward (negative) (default: 0).
        suffix (str): Suffix to add to the new Keltner Channel column names (default: "_KC").
        inplace (bool): Whether to modify the original DataFrame or return a new one (default: True).

    Returns:
        pandas.DataFrame: The DataFrame with the Keltner Channel upper and lower bands appended as new columns (in-place modification).
    """

    if not inplace:
        raise ValueError("The `append_keltner_channel` function only supports in-place modification (inplace=True).")

    # Calculate the EMA and ATR
    ema = df.ta.ema(close=column, length=period, offset=offset)
    atr = df.ta.atr(high=column, low=column, close=column, length=period, offset=offset)

    # Calculate the upper and lower Keltner Channel bands
    upper_band = ema + multiplier * atr
    lower_band = ema - multiplier * atr

    # Add the Upper and Lower Keltner Channel bands as new columns to the DataFrame
    df[f"{column}{suffix}_upper"] = upper_band
    df[f"{column}{suffix}_lower"] = lower_band

    return df

def append_volatility_ratio_wvs(df, column="Close", high="High", low="Low", period=14, offset=0, suffix="_VR_WVS", inplace=True):

    """
    Calculates and appends the Volatility Ratio (VR) using Wilder's Volatility System (WVS) to a DataFrame.

    Args:
        df (pandas.DataFrame): The DataFrame where the VR will be calculated.
        column (str): Name of the column to use for closing prices (default: "Close").
        high (str): Name of the column to use for high prices (default: "High").
        low (str): Name of the column to use for low prices (default: "Low").
        period (int): Number of periods for the WVS calculation (default: 14).
        offset (int): Number of periods to shift the VR forward (positive) or backward (negative) (default: 0).
        suffix (str): Suffix to add to the new VR column name (default: "_VR_WVS").
        inplace (bool): Whether to modify the original DataFrame or return a new one (default: True).

    Returns:
        pandas.DataFrame: The DataFrame with the VR appended as a new column (in-place modification).
    """

    if not inplace:
        raise ValueError("The `append_volatility_ratio_wvs` function only supports in-place modification (inplace=True).")

    # Calculate the Wilder's Volatility System (WVS)
    wvs = df.ta.volatility_system(high=high, low=low, close=column, length=period, offset=offset)

    # Calculate the VR
    vr = wvs["volatility_system_volatility_ratio"]

    # Add the VR as a new column to the DataFrame
    df[f"{column}{suffix}"] = vr

    return df

def append_volatility_ratio_tr(df, column="Close", high="High", low="Low", period=14, offset=0, suffix="_VR_TR", inplace=True):

    """
    Calculates and appends the Volatility Ratio (VR) using True Range (TR) to a DataFrame.

    Args:
        df (pandas.DataFrame): The DataFrame where the VR will be calculated.
        column (str): Name of the column to use for closing prices (default: "Close").
        high (str): Name of the column to use for high prices (default: "High").
        low (str): Name of the column to use for low prices (default: "Low").
        period (int): Number of periods for the ATR calculation (default: 14).
        offset (int): Number of periods to shift the VR forward (positive) or backward (negative) (default: 0).
        suffix (str): Suffix to add to the new VR column name (default: "_VR_TR").
        inplace (bool): Whether to modify the original DataFrame or return a new one (default: True).

    Returns:
        pandas.DataFrame: The DataFrame with the VR appended as a new column (in-place modification).
    """

    if not inplace:
        raise ValueError("The `append_volatility_ratio_tr` function only supports in-place modification (inplace=True).")

    # Calculate the True Range (TR)
    tr = df[high] - df[low]
    tr = abs(tr)

    # Calculate the Average True Range (ATR)
    atr = df.ta.atr(high=high, low=low, close=column, length=period, offset=offset)

    # Calculate the VR
    vr = tr / atr

    # Add the VR as a new column to the DataFrame
    df[f"{column}{suffix}"] = vr

    return df

import pandas as pd

def identify_head_and_shoulders(df, column="Close", high="High", low="Low", threshold=0.01):

    """
    Identifies potential Head and Shoulders (H&S) patterns in a DataFrame.

    Args:
        df (pandas.DataFrame): The DataFrame containing price data.
        column (str): Name of the column containing closing prices (default: "Close").
        high (str): Name of the column containing high prices (default: "High").
        low (str): Name of the column containing low prices (default: "Low").
        threshold (float): Threshold for considering a price difference significant (default: 0.01).

    Returns:
        pandas.DataFrame: The original DataFrame with additional columns indicating potential H&S patterns.
    """

    # Define additional columns to store H&S information
    df["head_peak"] = False
    df["left_shoulder"] = False
    df["right_shoulder"] = False

    # Identify left shoulder
    left_shoulder = df[df[high] == df[high].max() - 1]
    left_shoulder = left_shoulder.loc[(left_shoulder[column] - df[column]) > threshold]
    df.loc[left_shoulder.index, "left_shoulder"] = True

    # Identify head
    head_peak = df[df[high] == df[high].max()]
    df.loc[head_peak.index, "head_peak"] = True

    # Identify right shoulder
    right_shoulder = df[df[high] == df[high].max() + 1]
    right_shoulder = right_shoulder.loc[(df[column] - right_shoulder[column]) > threshold]
    df.loc[right_shoulder.index, "right_shoulder"] = True

    # Identify potential H&S patterns based on identified peaks
    df["head_and_shoulders"] = (
        df["left_shoulder"] & df["head_peak"] & df["right_shoulder"]
    )

    return df


import pandas as pd


def identify_double_top(df, column="Close", high="High", threshold=0.01):

    """
    Identifies potential double top patterns in a DataFrame.

    Args:
        df (pandas.DataFrame): The DataFrame containing price data.
        column (str): Name of the column containing closing prices (default: "Close").
        high (str): Name of the column containing high prices (default: "High").
        threshold (float): Threshold for considering a price difference significant (default: 0.01).

    Returns:
        pandas.DataFrame: The original DataFrame with an additional column indicating potential double top patterns.
    """

    df["double_top"] = False

    # Identify first peak
    first_peak = df.loc[df[high] == df[high].max()]

    # Identify potential second peak
    second_peak_candidates = df.loc[df.index > first_peak.index]

    # Filter valid second peak
    second_peak = second_peak_candidates.loc[
        (
            (second_peak_candidates[high] == df[high].max())
            & (second_peak_candidates[high] - first_peak[high]) < threshold
        )
        & (second_peak_candidates.index > first_peak.index + 1)
    ]

    # Filter valid double top patterns
    valid_double_tops = first_peak.append(second_peak)

    # Mark identified patterns in the DataFrame
    df.loc[valid_double_tops.index, "double_top"] = True

    return df

In [42]:
identify_double_top(df)

ValueError: Lengths must match to compare

In [37]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,DCL_20_20,DCM_20_20,DCU_20_20,Close_KC_upper,Close_KC_lower,Close_VR_TR
Date,,,,,,,,,,,,,
2022-12-06 00:00:00+05:30,603.031591,607.985316,596.214061,597.342163,12996244,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-07 00:00:00+05:30,599.205885,601.216855,592.976953,595.478333,7613892,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-08 00:00:00+05:30,598.126856,602.099642,595.576441,599.990662,10020015,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-09 00:00:00+05:30,602.688284,606.219637,597.489265,604.748230,11202267,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-12 00:00:00+05:30,603.080594,606.906276,599.353042,601.363953,9285187,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-11-30 00:00:00+05:30,569.750000,570.200012,563.650024,564.750000,19758998,0.0,0.0,558.950012,571.825012,584.700012,575.225377,559.311761,0.868382
2023-12-01 00:00:00+05:30,567.000000,574.200012,566.549988,571.750000,10614230,0.0,0.0,558.950012,571.825012,584.700012,576.254557,559.477628,0.996229
2023-12-04 00:00:00+05:30,588.000000,596.000000,584.549988,594.700012,26077882,0.0,0.0,558.950012,576.825012,594.700012,582.511810,560.376087,1.291943
2023-12-05 00:00:00+05:30,595.049988,611.299988,595.049988,608.250000,36430152,0.0,0.0,558.950012,583.600006,608.250000,588.564435,564.138410,1.725915
2023-12-06 00:00:00+05:30,614.000000,614.000000,604.549988,608.450012,21431039,0.0,0.0,558.950012,583.700012,608.450012,592.000462,569.262007,1.003423