In [4]:
import yfinance as yf

In [92]:
each_symbol = input()
df = yf.Ticker(f'{each_symbol}.NS').history("1y")

 SBIN

In [93]:
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-12-06 00:00:00+05:30,603.031591,607.985316,596.214061,597.342163,12996244,0.0,0.0
2022-12-07 00:00:00+05:30,599.205885,601.216855,592.976953,595.478333,7613892,0.0,0.0
2022-12-08 00:00:00+05:30,598.126856,602.099642,595.576441,599.990662,10020015,0.0,0.0
2022-12-09 00:00:00+05:30,602.688284,606.219637,597.489265,604.748230,11202267,0.0,0.0
2022-12-12 00:00:00+05:30,603.080594,606.906276,599.353042,601.363953,9285187,0.0,0.0

In [5]:
import pandas as pd
import pandas_ta as ta

# df = pd.DataFrame() # Empty DataFrame

# Load data
# df = pd.read_csv("path/to/symbol.csv", sep=",")
# OR if you have yfinance installed
# df = df.ta.ticker("aapl")

# VWAP requires the DataFrame index to be a DatetimeIndex.
# Replace "datetime" with the appropriate column from your DataFrame
# df.set_index(pd.DatetimeIndex(df['Date']), inplace=True)

# Calculate Returns and append to the df DataFrame
df.ta.log_return(cumulative=True, append=True)
df.ta.percent_return(cumulative=True, append=True)
column_name = 'Close'  # Replace with your column name

# Calculate 44-period SMA
df['sma_44'] = ta.sma(df[column_name], length=44)
df['sma_44_rising'] = df['sma_44'] > df['sma_44'].shift(1)

# Display the DataFrame with SMA values


# New Columns with results
df.columns
df.tail(50)
# Take a peek
# df.tail()

# vv Continue Post Processing vv

,Open,High,Low,Close,Volume,Dividends,Stock Splits,CUMLOGRET_1,CUMPCTRET_1,sma_44,sma_44_rising
Date,,,,,,,,,,,
2023-09-22 00:00:00+05:30,593.500000,602.000000,591.400024,598.150024,18784139,0.0,0.0,0.001352,0.001352,585.765909,False
2023-09-25 00:00:00+05:30,601.500000,601.500000,590.450012,594.049988,9712784,0.0,0.0,-0.005527,-0.005511,585.287501,False
2023-09-26 00:00:00+05:30,594.000000,595.000000,591.250000,594.400024,8327427,0.0,0.0,-0.004938,-0.004925,584.759091,False
2023-09-27 00:00:00+05:30,593.450012,594.299988,588.200012,589.750000,9865347,0.0,0.0,-0.012791,-0.012710,584.307956,False
2023-09-28 00:00:00+05:30,591.250000,595.200012,588.849976,589.950012,21960816,0.0,0.0,-0.012452,-0.012375,583.735228,False
2023-09-29 00:00:00+05:30,592.849976,600.000000,591.299988,598.549988,12189735,0.0,0.0,0.002020,0.002022,583.326137,False
2023-10-03 00:00:00+05:30,596.599976,604.900024,589.599976,602.950012,15322196,0.0,0.0,0.009344,0.009388,583.028410,False
2023-10-04 00:00:00+05:30,600.000000,600.450012,584.450012,586.250000,24914612,0.0,0.0,-0.018744,-0.018569,582.256819,False
2023-10-05 00:00:00+05:30,590.000000,594.349976,587.099976,592.150024,13248028,0.0,0.0,-0.008730,-0.008692,581.809093,False
2023-10-06 00:00:00+05:30,593.400024,598.950012,592.200012,594.250000,8216780,0.0,0.0,-0.005190,-0.005177,581.713638,False
2023-10-09 00:00:00+05:30,588.000000,589.000000,581.549988,585.099976,9189597,0.0,0.0,-0.020707,-0.020494,581.590910,False
2023-10-10 00:00:00+05:30,587.000000,595.000000,585.750000,591.650024,10373508,0.0,0.0,-0.009575,-0.009529,582.007957,True
2023-10-11 00:00:00+05:30,596.900024,597.000000,587.599976,588.349976,14220119,0.0,0.0,-0.015168,-0.015054,582.472728,True
2023-10-12 00:00:00+05:30,590.799988,593.000000,585.000000,586.049988,11983797,0.0,0.0,-0.019085,-0.018904,582.767047,True
2023-10-13 00:00:00+05:30,577.750000,581.299988,574.799988,576.150024,19064577,0.0,0.0,-0.036122,-0.035477,582.821593,True
2023-10-16 00:00:00+05:30,576.000000,578.750000,571.500000,575.650024,11290293,0.0,0.0,-0.036990,-0.036314,582.867047,True
2023-10-17 00:00:00+05:30,577.700012,579.950012,575.299988,576.450012,10765224,0.0,0.0,-0.035601,-0.034975,582.919320,True
2023-10-18 00:00:00+05:30,577.750000,579.250000,569.349976,572.650024,11777454,0.0,0.0,-0.042215,-0.041337,583.188639,True
2023-10-19 00:00:00+05:30,569.799988,574.000000,567.000000,571.200012,11441499,0.0,0.0,-0.044751,-0.043764,583.321594,True
2023-10-20 00:00:00+05:30,569.900024,570.000000,562.099976,563.099976,11110988,0.0,0.0,-0.059033,-0.057324,583.115911,False
2023-10-23 00:00:00+05:30,563.099976,566.000000,551.000000,552.950012,11875035,0.0,0.0,-0.077222,-0.074316,582.661366,False
2023-10-25 00:00:00+05:30,558.599976,560.799988,553.599976,556.200012,12134624,0.0,0.0,-0.071362,-0.068875,582.309093,False
2023-10-26 00:00:00+05:30,551.450012,552.900024,543.200012,547.000000,19424825,0.0,0.0,-0.088041,-0.084277,581.820457,False
2023-10-27 00:00:00+05:30,550.000000,562.500000,550.000000,561.150024,10415296,0.0,0.0,-0.062502,-0.060589,581.462502,False
2023-10-30 00:00:00+05:30,563.000000,566.700012,556.500000,565.200012,8593704,0.0,0.0,-0.055310,-0.053809,581.195457,False
2023-10-31 00:00:00+05:30,567.000000,569.500000,563.150024,565.549988,13039696,0.0,0.0,-0.054691,-0.053223,581.095456,False
2023-11-01 00:00:00+05:30,566.250000,569.650024,563.849976,566.400024,13575575,0.0,0.0,-0.053190,-0.051800,580.948866,False
2023-11-02 00:00:00+05:30,571.099976,575.450012,567.599976,572.099976,11148516,0.0,0.0,-0.043176,-0.042258,580.886366,False
2023-11-03 00:00:00+05:30,576.000000,579.500000,573.450012,578.150024,11371371,0.0,0.0,-0.032657,-0.032129,581.130685,True
2023-11-06 00:00:00+05:30,582.000000,582.500000,573.250000,574.349976,16499138,0.0,0.0,-0.039251,-0.038491,581.426139,True
2023-11-07 00:00:00+05:30,574.799988,581.200012,572.599976,579.750000,17923281,0.0,0.0,-0.029893,-0.029451,581.657958,True
2023-11-08 00:00:00+05:30,581.900024,582.599976,579.000000,580.299988,15434808,0.0,0.0,-0.028945,-0.028530,581.765912,True
2023-11-09 00:00:00+05:30,581.000000,581.849976,576.500000,578.349976,12434363,0.0,0.0,-0.032311,-0.031794,581.887502,True
2023-11-10 00:00:00+05:30,577.799988,581.000000,575.400024,579.500000,6773038,0.0,0.0,-0.030324,-0.029869,582.092048,True
2023-11-13 00:00:00+05:30,581.000000,582.500000,575.200012,581.349976,11282362,0.0,0.0,-0.027137,-0.026772,582.144320,True
2023-11-15 00:00:00+05:30,587.250000,588.000000,582.599976,584.700012,11397676,0.0,0.0,-0.021391,-0.021164,582.172729,True
2023-11-16 00:00:00+05:30,584.700012,588.000000,582.900024,584.650024,8622660,0.0,0.0,-0.021477,-0.021248,582.012502,False
2023-11-17 00:00:00+05:30,574.500000,574.500000,562.099976,563.049988,37173221,0.0,0.0,-0.059122,-0.057408,581.437503,False
2023-11-20 00:00:00+05:30,564.000000,566.799988,560.599976,563.750000,12714585,0.0,0.0,-0.057879,-0.056236,580.694321,False
2023-11-21 00:00:00+05:30,566.000000,566.650024,561.000000,561.500000,14280013,0.0,0.0,-0.061878,-0.060003,579.880685,False
2023-11-22 00:00:00+05:30,562.950012,564.500000,555.150024,558.950012,14909071,0.0,0.0,-0.066430,-0.064272,578.975003,False
2023-11-23 00:00:00+05:30,561.750000,563.500000,558.299988,559.950012,6376210,0.0,0.0,-0.064643,-0.062598,577.975003,False
2023-11-24 00:00:00+05:30,561.950012,562.450012,559.250000,560.349976,6529851,0.0,0.0,-0.063929,-0.061928,577.048867,False
2023-11-28 00:00:00+05:30,563.599976,565.200012,561.099976,564.450012,8153314,0.0,0.0,-0.056638,-0.055064,576.510230,False
2023-11-29 00:00:00+05:30,568.000000,569.000000,565.099976,568.599976,10299034,0.0,0.0,-0.049313,-0.048117,575.838638,False
2023-11-30 00:00:00+05:30,569.750000,570.200012,563.650024,564.750000,19758998,0.0,0.0,-0.056107,-0.054562,575.172729,False
2023-12-01 00:00:00+05:30,567.000000,574.200012,566.549988,571.750000,10614230,0.0,0.0,-0.043788,-0.042843,574.657956,False
2023-12-04 00:00:00+05:30,588.000000,596.000000,584.549988,594.700012,26077882,0.0,0.0,-0.004433,-0.004423,574.770456,True
2023-12-05 00:00:00+05:30,595.049988,611.299988,595.049988,608.250000,36430152,0.0,0.0,0.018096,0.018261,575.186365,True
2023-12-06 00:00:00+05:30,614.000000,614.000000,609.000000,611.250000,10153910,0.0,0.0,0.023016,0.023283,575.475002,True

In [18]:
import pandas as pd
import pandas_ta as ta

# Create a DataFrame so 'ta' can be used.
# df = pd.DataFrame()

# Help about this, 'ta', extension
# help(df.ta)

# List of all indicators
# df.ta.indicators()

# Help about an indicator such as bbands
help(ta.bbands)

Help on function bbands in module pandas_ta.volatility.bbands:

bbands(close, length=None, std=None, ddof=0, mamode=None, talib=None, offset=None, **kwargs)
    Bollinger Bands (BBANDS)

    A popular volatility indicator by John Bollinger.

    Sources:
        https://www.tradingview.com/wiki/Bollinger_Bands_(BB)

    Calculation:
        Default Inputs:
            length=5, std=2, mamode="sma", ddof=0
        EMA = Exponential Moving Average
        SMA = Simple Moving Average
        STDEV = Standard Deviation
        stdev = STDEV(close, length, ddof)
        if "ema":
            MID = EMA(close, length)
        else:
            MID = SMA(close, length)

        LOWER = MID - std * stdev
        UPPER = MID + std * stdev

        BANDWIDTH = 100 * (UPPER - LOWER) / MID
        PERCENT = (close - LOWER) / (UPPER - LOWER)

    Args:
        close (pd.Series): Series of 'close's
        length (int): The short period. Default: 5
        std (int): The long period. Default: 2
        ddof (int): Degrees of Freedom to use. Default: 0
        mamode (str): See ```help(ta.ma)```. Default: 'sma'
        talib (bool): If TA Lib is installed and talib is True, Returns the TA Lib
            version. Default: True
        offset (int): How many periods to offset the result. Default: 0

    Kwargs:
        fillna (value, optional): pd.DataFrame.fillna(value)
        fill_method (value, optional): Type of fill method

    Returns:
        pd.DataFrame: lower, mid, upper, bandwidth, and percent columns.

In [90]:
import pandas_ta as ta


def append_adx(df, column="Close", length=14, offset=0, suffix="_ADX", inplace=True):

    """
    Calculates and appends the Average Directional Index (ADX) to a DataFrame.

    Args:
        df (pandas.DataFrame): The DataFrame where the ADX will be calculated.
        column (str): Name of the column to use for calculating the ADX (default: "Close").
        length (int): Number of periods for the ADX calculation (default: 14).
        offset (int): Number of periods to shift the ADX forward (positive) or backward (negative) (default: 0).
        suffix (str): Suffix to add to the new ADX column name (default: "_ADX").
        inplace (bool): Whether to modify the original DataFrame or return a new one (default: True).

    Returns:
        pandas.DataFrame: The DataFrame with the ADX appended as a new column (in-place modification).
    """

    if not inplace:
        raise ValueError("The `append_adx` function only supports in-place modification (inplace=True).")

    # Calculate the ADX and append it to the DataFrame
    df.ta.adx(high=column, low=column, close=column, length=length, offset=offset,append=True)

    return df

import pandas_ta as ta

def append_rsi(df, column="Close", length=14, offset=0, suffix="_RSI", inplace=True):

    """
    Calculates and appends the Relative Strength Index (RSI) to a DataFrame.

    Args:
        df (pandas.DataFrame): The DataFrame where the RSI will be calculated.
        column (str): Name of the column to use for calculating the RSI (default: "Close").
        length (int): Number of periods for the RSI calculation (default: 14).
        offset (int): Number of periods to shift the RSI forward (positive) or backward (negative) (default: 0).
        suffix (str): Suffix to add to the new RSI column name (default: "_RSI").
        inplace (bool): Whether to modify the original DataFrame or return a new one (default: True).

    Returns:
        pandas.DataFrame: The DataFrame with the RSI appended as a new column (in-place modification).
    """

    if not inplace:
        raise ValueError("The `append_rsi` function only supports in-place modification (inplace=True).")

    # Calculate the RSI and append it to the DataFrame
    df.ta.rsi(close=column, length=length, offset=offset,append=True)

    return df


import pandas_ta as ta

def append_stochastic_oscillator(df, column="Close", k_length=14, d_length=3, offset=0, suffix="_SO", inplace=True):

    """
    Calculates and appends the Stochastic Oscillator (SO) to a DataFrame.

    Args:
        df (pandas.DataFrame): The DataFrame where the Stochastic Oscillator will be calculated.
        column (str): Name of the column to use for calculating the Stochastic Oscillator (default: "Close").
        k_length (int): Number of periods for the %K calculation (default: 14).
        d_length (int): Number of periods for the %D smoothing (default: 3).
        offset (int): Number of periods to shift the Stochastic Oscillator forward (positive) or backward (negative) (default: 0).
        suffix (str): Suffix to add to the new Stochastic Oscillator column names (default: "_SO").
        inplace (bool): Whether to modify the original DataFrame or return a new one (default: True).

    Returns:
        pandas.DataFrame: The DataFrame with the Stochastic Oscillator appended as new columns (in-place modification).
    """

    if not inplace:
        raise ValueError("The `append_stochastic_oscillator` function only supports in-place modification (inplace=True).")

    # Calculate the %K and %D values of the Stochastic Oscillator
    so_k = df.ta.stoch(close=column, high=column, low=column, k_length=k_length, d_length=d_length, offset=offset,append=True)
    # so_d = df.ta.stoch_signal(close=column, high=column, low=column, k_length=k_length, d_length=d_length, offset=offset,append=True)

    # # Append the %K and %D values to the DataFrame
    # df[f"{column}{suffix}_K"] = so_k
    # df[f"{column}{suffix}_D"] = so_d

    # return df

import pandas_ta as ta

def append_macd(df, column="Close", fast_length=12, slow_length=26, signal_length=9, offset=0, suffix="_MACD", inplace=True):

    """
    Calculates and appends the Moving Average Convergence Divergence (MACD) to a DataFrame.

    Args:
        df (pandas.DataFrame): The DataFrame where the MACD will be calculated.
        column (str): Name of the column to use for calculating the MACD (default: "Close").
        fast_length (int): Number of periods for the fast EMA (default: 12).
        slow_length (int): Number of periods for the slow EMA (default: 26).
        signal_length (int): Number of periods for the MACD signal line (default: 9).
        offset (int): Number of periods to shift the MACD forward (positive) or backward (negative) (default: 0).
        suffix (str): Suffix to add to the new MACD column names (default: "_MACD").
        inplace (bool): Whether to modify the original DataFrame or return a new one (default: True).

    Returns:
        pandas.DataFrame: The DataFrame with the MACD appended as new columns (in-place modification).
    """

    if not inplace:
        raise ValueError("The `append_macd` function only supports in-place modification (inplace=True).")

    # Calculate the MACD components and the MACD signal line
    macd = df.ta.macd(close=column, fast_length=fast_length, slow_length=slow_length, signal_length=signal_length, offset=offset,append=True)
    # macd_signal = df.ta.macd_signal(close=column, fast_length=fast_length, slow_length=slow_length, signal_length=signal_length, offset=offset)
    # macd_diff = df.ta.macd_diff(close=column, fast_length=fast_length, slow_length=slow_length, signal_length=signal_length, offset=offset)

    # # Append the MACD components and the MACD signal line to the DataFrame
    # df[f"{column}{suffix}_MACD"] = macd
    # df[f"{column}{suffix}_MACD_Signal"] = macd_signal
    # df[f"{column}{suffix}_MACD_Diff"] = macd_diff

    # return df

import pandas_ta as ta

def append_rsi(df, column="Close", length=14, offset=0, suffix="_RSI", inplace=True):

    """
    Calculates and appends the Relative Strength Index (RSI) to a DataFrame.

    Args:
        df (pandas.DataFrame): The DataFrame where the RSI will be calculated.
        column (str): Name of the column to use for calculating the RSI (default: "Close").
        length (int): Number of periods for the RSI calculation (default: 14).
        offset (int): Number of periods to shift the RSI forward (positive) or backward (negative) (default: 0).
        suffix (str): Suffix to add to the new RSI column name (default: "_RSI").
        inplace (bool): Whether to modify the original DataFrame or return a new one (default: True).

    Returns:
        pandas.DataFrame: The DataFrame with the RSI appended as a new column (in-place modification).
    """

    if not inplace:
        raise ValueError("The `append_rsi` function only supports in-place modification (inplace=True).")

    # Calculate the RSI and append it to the DataFrame
    df.ta.rsi(close=column, length=length, offset=offset,append=True)

import pandas_ta as ta

def append_cci(df, column="Close", mean_period=14, deviation_period=7, offset=0, suffix="_CCI", inplace=True):

    """
    Calculates and appends the Commodity Channel Index (CCI) to a DataFrame.

    Args:
        df (pandas.DataFrame): The DataFrame where the CCI will be calculated.
        column (str): Name of the column to use for calculating the CCI (default: "Close").
        mean_period (int): Number of periods for the mean calculation (default: 14).
        deviation_period (int): Number of periods for the standard deviation calculation (default: 7).
        offset (int): Number of periods to shift the CCI forward (positive) or backward (negative) (default: 0).
        suffix (str): Suffix to add to the new CCI column name (default: "_CCI").
        inplace (bool): Whether to modify the original DataFrame or return a new one (default: True).

    Returns:
        pandas.DataFrame: The DataFrame with the CCI appended as a new column (in-place modification).
    """

    if not inplace:
        raise ValueError("The `append_cci` function only supports in-place modification (inplace=True).")

    # Calculate the CCI and append it to the DataFrame
    df.ta.cci(high=column, low=column, close=column, mean_period=mean_period, deviation_period=deviation_period, offset=offset,append=True)

def append_roc(df, column="Close", period=1, offset=0, suffix="_ROC", inplace=True):

    """
    Calculates and appends the Rate of Change (ROC) to a DataFrame.

    Args:
        df (pandas.DataFrame): The DataFrame where the ROC will be calculated.
        column (str): Name of the column to use for calculating the ROC (default: "Close").
        period (int): Number of periods for the ROC calculation (default: 1).
        offset (int): Number of periods to shift the ROC forward (positive) or backward (negative) (default: 0).
        suffix (str): Suffix to add to the new ROC column name (default: "_ROC").
        inplace (bool): Whether to modify the original DataFrame or return a new one (default: True).

    Returns:
        pandas.DataFrame: The DataFrame with the ROC appended as a new column (in-place modification).
    """

    if not inplace:
        raise ValueError("The `append_roc` function only supports in-place modification (inplace=True).")

    # Calculate the ROC and append it to the DataFrame
    df.ta.roc(close=column, period=period, offset=offset,append=True)


    return df

In [91]:
append_roc(df)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,BBL_5_2.0,BBM_5_2.0,BBU_5_2.0,...,DMP_14,DMN_14,RSI_14,STOCHk_14_3_3,STOCHd_14_3_3,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,CCI_14_0.015,ROC_10
Date,,,,,,,,,,,,,,,,,,,,,
2022-12-06 00:00:00+05:30,603.031591,607.985316,596.214061,597.342163,12996244,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-07 00:00:00+05:30,599.205885,601.216855,592.976953,595.478333,7613892,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-08 00:00:00+05:30,598.126856,602.099642,595.576441,599.990662,10020015,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-09 00:00:00+05:30,602.688284,606.219637,597.489265,604.748230,11202267,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-12 00:00:00+05:30,603.080594,606.906276,599.353042,601.363953,9285187,0.0,0.0,593.354497,599.784668,606.214839,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-11-30 00:00:00+05:30,569.750000,570.200012,563.650024,564.750000,19758998,0.0,0.0,557.237027,563.619995,570.002963,...,44.690990,55.309009,44.690991,27.119678,19.590007,-3.319717,-0.420452,-2.899265,-36.995196,-3.412008
2023-12-01 00:00:00+05:30,567.000000,574.200012,566.549988,571.750000,10614230,0.0,0.0,558.197545,565.979993,573.762440,...,51.284451,48.715549,51.284451,36.569500,28.371011,-2.672433,0.181466,-2.853899,21.952454,-2.206452
2023-12-04 00:00:00+05:30,588.000000,596.000000,584.549988,594.700012,26077882,0.0,0.0,550.349057,572.850000,595.350943,...,65.715197,34.284803,65.715196,57.410972,40.366717,-0.304077,2.039858,-2.343934,172.710961,5.621175
2023-12-05 00:00:00+05:30,595.049988,611.299988,595.049988,608.250000,36430152,0.0,0.0,547.765909,581.609998,615.454087,...,71.149198,28.850802,71.149197,83.236230,59.072234,2.635849,3.983827,-1.347978,201.072596,7.893570
2023-12-06 00:00:00+05:30,614.000000,614.000000,604.549988,608.450012,21431039,0.0,0.0,553.080157,589.580005,626.079852,...,71.221706,28.778294,71.221705,100.000000,80.215734,4.925127,5.018484,-0.093357,160.330931,8.361534

In [88]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,BBL_5_2.0,BBM_5_2.0,BBU_5_2.0,...,ADX_14,DMP_14,DMN_14,RSI_14,STOCHk_14_3_3,STOCHd_14_3_3,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,CCI_14_0.015
Date,,,,,,,,,,,,,,,,,,,,,
2022-12-06 00:00:00+05:30,603.031591,607.985316,596.214061,597.342163,12996244,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-07 00:00:00+05:30,599.205885,601.216855,592.976953,595.478333,7613892,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-08 00:00:00+05:30,598.126856,602.099642,595.576441,599.990662,10020015,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-09 00:00:00+05:30,602.688284,606.219637,597.489265,604.748230,11202267,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-12 00:00:00+05:30,603.080594,606.906276,599.353042,601.363953,9285187,0.0,0.0,593.354497,599.784668,606.214839,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-11-30 00:00:00+05:30,569.750000,570.200012,563.650024,564.750000,19758998,0.0,0.0,557.237027,563.619995,570.002963,...,14.546542,44.690990,55.309009,44.690991,27.119678,19.590007,-3.319717,-0.420452,-2.899265,-36.995196
2023-12-01 00:00:00+05:30,567.000000,574.200012,566.549988,571.750000,10614230,0.0,0.0,558.197545,565.979993,573.762440,...,13.690997,51.284451,48.715549,51.284451,36.569500,28.371011,-2.672433,0.181466,-2.853899,21.952454
2023-12-04 00:00:00+05:30,588.000000,596.000000,584.549988,594.700012,26077882,0.0,0.0,550.349057,572.850000,595.350943,...,14.958096,65.715197,34.284803,65.715196,57.410972,40.366717,-0.304077,2.039858,-2.343934,172.710961
2023-12-05 00:00:00+05:30,595.049988,611.299988,595.049988,608.250000,36430152,0.0,0.0,547.765909,581.609998,615.454087,...,16.910975,71.149198,28.850802,71.149197,83.236230,59.072234,2.635849,3.983827,-1.347978,201.072596
2023-12-06 00:00:00+05:30,614.000000,614.000000,604.549988,608.450012,21431039,0.0,0.0,553.080157,589.580005,626.079852,...,18.734721,71.221706,28.778294,71.221705,100.000000,80.215734,4.925127,5.018484,-0.093357,160.330931