In [1]:
import yfinance as yf

In [2]:
each_symbol = input()
df = yf.Ticker(f'{each_symbol}.NS').history("1y")

 SBIN

In [3]:
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-12-08 00:00:00+05:30,598.126856,602.099642,595.576441,599.990662,10020015,0.0,0.0
2022-12-09 00:00:00+05:30,602.688284,606.219637,597.489265,604.748230,11202267,0.0,0.0
2022-12-12 00:00:00+05:30,603.080594,606.906276,599.353042,601.363953,9285187,0.0,0.0
2022-12-13 00:00:00+05:30,601.805421,605.631103,600.824483,604.993469,7455415,0.0,0.0
2022-12-14 00:00:00+05:30,606.710095,614.802833,605.729157,613.576660,14010673,0.0,0.0

In [4]:
import pandas_ta as ta

def append_ema(df, **kwargs):
  """
  Calculates and appends the Exponential Moving Average (EMA) to a DataFrame.

  Args:
      df: The DataFrame where the EMA will be calculated.
      **kwargs: Dictionary containing any of the following optional parameters:
          - column: Name of the column to use for calculating the EMA (default: "close").
          - length: Number of periods for the EMA calculation (default: 20).
          - smoothing: Averaging method, either "linear" or "exponential" (default: "exponential").
          - offset: Number of periods to shift the EMA forward (positive) or backward (negative) (default: 0).
          - suffix: Suffix to add to the new EMA column name (default: "_EMA").
          - inplace: Whether to modify the original DataFrame or return a new one (default: False).

  Returns:
      A DataFrame with the EMA appended as a new column.

  Raises:
      ValueError: If an invalid smoothing method is provided.
  """

  column = kwargs.get("column", "close")
  length = kwargs.get("length", 20)
  smoothing = kwargs.get("smoothing", "exponential")
  offset = kwargs.get("offset", 0)
  suffix = kwargs.get("suffix", "_EMA")
  inplace = kwargs.get("inplace", True)

  if smoothing not in ("linear", "exponential"):
      raise ValueError("Invalid smoothing method. Choose 'linear' or 'exponential'.")


  df.ta.ema(close=column, length=length, smoothing=smoothing, offset=offset, append=True)

  return df

In [5]:
indicators = {
    "ema": {
        "column": "close",
        "length": 44
    },
    "bband": {
        "column": "close",
        "length": 20,
        "std_dev": 2,
        "offset": 0
    }     
}

In [6]:
properties = {}
for indicator_name, properties in indicators.items():
    print(f"Indicator Name: {indicator_name}")
    for key, value in properties.items():
        print(f"\t- {key}: {value}")

Indicator Name: ema
	- column: close
	- length: 44
Indicator Name: bband
	- column: close
	- length: 20
	- std_dev: 2
	- offset: 0

In [8]:
append_ema(df,**indicators["ema"])

,Open,High,Low,Close,Volume,Dividends,Stock Splits,EMA_44
Date,,,,,,,,
2022-12-08 00:00:00+05:30,598.126856,602.099642,595.576441,599.990662,10020015,0.0,0.0,NaN
2022-12-09 00:00:00+05:30,602.688284,606.219637,597.489265,604.748230,11202267,0.0,0.0,NaN
2022-12-12 00:00:00+05:30,603.080594,606.906276,599.353042,601.363953,9285187,0.0,0.0,NaN
2022-12-13 00:00:00+05:30,601.805421,605.631103,600.824483,604.993469,7455415,0.0,0.0,NaN
2022-12-14 00:00:00+05:30,606.710095,614.802833,605.729157,613.576660,14010673,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...
2023-12-04 00:00:00+05:30,588.000000,596.000000,584.549988,594.700012,26077882,0.0,0.0,573.963900
2023-12-05 00:00:00+05:30,595.049988,611.299988,595.049988,608.250000,36430152,0.0,0.0,575.487727
2023-12-06 00:00:00+05:30,614.000000,614.000000,604.549988,608.450012,21439069,0.0,0.0,576.952717
2023-12-07 00:00:00+05:30,610.000000,612.549988,605.000000,611.700012,10725706,0.0,0.0,578.497041
2023-12-08 00:00:00+05:30,610.000000,616.799988,605.349976,614.150024,17715354,0.0,0.0,580.081618